.navbar{
    height: 5rem;
    width: 100vw;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position: sticky;
    top: 0;
}
.navbar ul {
    display: flex;
    flex-direction: row;
  }
  .navbar ul li {
    list-style: none;
    margin: 1rem;
  }
  .navbar ul li a{
    text-decoration: none;
    color: white;
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-size: 1.50rem;
  }

  .navbar ul li a:hover{
    padding-bottom: 0.5rem;
    color: #B4D9BD;
    border-bottom: 3px solid #B4D9BD;
  }
